# ðŸ§¾ Table of Contents

- [2. Getting the Data](#2.-Getting-the-Data)
  - [Overviewing the Data](#Overviewing-the-Data)
  - [Preparing our toolbox](#Preparing-our-toolbox)
    - [Application_train.csv](#Application_train.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [bureau.csv](#bureau.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [bureau_balance.csv](#bureau_balance.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [previous_application.csv](#previous_application.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [POS_CASH_balance.csv](#POS_CASH_balance.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [installments_payments.csv](#installments_payments.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [credit_card_balance.csv](#credit_card_balance.csv)
      - [Highlights & Ideas](#Highlights-&-Ideas)
    - [Final Thoughts](#Final-Thoughts)

# 2. Getting the Data

The available data is in this [link](https://drive.google.com/file/d/17fyteuN2MdGdbP5_Xq_sySN_yH91vTup/view). It is a ```.zip``` file with 673mb. There are no impediments related to legal obligations, authorizations or sensitive information.

With a file of this size, we will definetely experience restrictions on uploading it to Github. So, I either use Git Large File Storage solution or automate the process of getting the data using ```make```. I chose the latter to improve reproducibility and leave the project structure as light as possible. To use it:

1. The Shell Terminal in the root folder of the project:
 
    ```make data```

 1. The Ipython Terminal Interpreter from this notebook:
 
    ```!cd .. && make data```

The package requirements will be installed and the data will be download into ```/data/raw/``` folder.

## Overviewing the Data

There are 10 available Datasets and a Metadata PDF file. From the 10 Datasets:
- 1 is the Columns Descriptions.
- 1 is a Sample Submission.
- 1 is the test set for the Final Submission.
- The rest is data to be explored.
  
- ER Diagram below:

<div align="center">
<img src="../references/home_credit.png" alt="Home Credit ER Diagram" style="height: 500px"/>
</div>

Ok, now it is time to take a high-level view into the datasets.

## Preparing our toolbox

In [9]:
%load_ext autoreload
%autoreload 2

from src.data.explore_data import (
    list_datasets,
    describe_feature,
    overview_data,
    create_dataframe,
    describe_features,
)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
list_datasets()

('application_test_student.csv',
 'HomeCredit_columns_description.csv',
 'POS_CASH_balance.csv',
 'credit_card_balance.csv',
 'installments_payments.csv',
 'application_train.csv',
 'bureau.csv',
 'previous_application.csv',
 'bureau_balance.csv',
 'sample_submission.csv')

### Application_train.csv
*Starting with the flagship dataset*

In [10]:
overview_data("application_train.csv", sample_mode="random", sample_size=5)

#### Dataset name (.csv)

application_train.csv

#### Dataset Random Samples

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
161368,412052,0,Cash loans,F,N,N,1,135000.0,755190.0,36459.0,675000.0,Unaccompanied,Working,Higher education,Married,Rented apartment,0.018801,-10343,-370,-4547.0,-1583,NaN,1,1,0,1,0,0,Accountants,3.0,2,2,TUESDAY,11,0,0,0,0,0,0,Medicine,0.271976,0.165908,0.643026,NaN,NaN,0.9687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0023,NaN,NaN,NaN,NaN,0.9687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0024,NaN,NaN,NaN,NaN,0.9687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0023,NaN,NaN,NaN,block of flats,0.0018,NaN,Yes,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
177644,391895,0,Cash loans,M,Y,Y,1,121500.0,621900.0,49266.0,562500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.030755,-11080,-635,-3896.0,-3722,18.0,1,1,0,1,1,0,Drivers,3.0,2,2,TUESDAY,12,0,0,0,0,1,1,Industry: type 11,0.552660,0.420643,0.424130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-2416.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
42295,279443,0,Cash loans,F,N,Y,0,135000.0,651595.5,33399.0,526500.0,Unaccompanied,Working,Higher education,Single / not married,House / apartment,0.024610,-10779,-482,-7.0,-3451,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,15,0,0,0,0,0,0,Business Entity Type 3,NaN,0.362556,NaN,0.0124,0.000,0.9995,0.9932,0.0018,0.0,0.0345,0.0833,0.0417,0.0039,0.0151,0.0098,0.0232,0.0208,0.0126,0.0000,0.9995,0.9935,0.0018,0.0,0.0345,0.0833,0.0417,0.004,0.0165,0.0102,0.0233,0.022,0.0125,0.000,0.9995,0.9933,0.0018,0.0,0.0345,0.0833,0.0417,0.004,0.0154,0.0099,0.0233,0.0212,reg oper account,block of flats,0.0086,Block,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0,5.0
161674,237294,0,Cash loans,F,N,N,0,99000.0,334152.0,14157.0,270000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.009175,-21365,365243,-10459.0,-4599,NaN,1,0,0,1,1,0,NaN,2.0,2,2,SUNDAY,19,0,0,0,0,0,0,XNA,0.834642,0.368393,0.146442,0.0247,0.063,0.9841,0.7824,0.0431,0.0,0.0690,0.0833,0.0417,0.0000,0.0202,0.0242,0.0000,0.0000,0.0252,0.0654,0.9841,0.7909,0.0435,0.0,0.0690,0.0833,0.0417,0.000,0.0220,0.0252,0.0000,0.000,0.0250,0.063,0.9841,0.7853,0.0433,0.0,0.0690,0.0833,0.0417,0.000,0.0205,0.0246,0.0000,0.0000,NaN,block of flats,0.0426,"Stone, brick",No,1.0,1.0,1.0,1.0,-2520.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
235457,401672,0,Cash loans,M,N,N,1,90000.0,319981.5,12316.5,243000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.005144,-13078,-4128,-4192.0,-4190,NaN,1,1,0,1,0,0,Low-skill Laborers,3.0,2,2,MONDAY,17,0,0,0,0,0,0,Self-employed,0.395638,0.108437,0.707699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,3.0,0.0,-851.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246008 entries, 0 to 246007
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 229.0+ MB

#### Dataset descriptive statistics

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,246008.000000,246008.000000,246008,246008,246008,246008,246008.000000,2.460080e+05,2.460080e+05,245998.000000,2.457820e+05,244960,246008,246008,246008,246008,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,83649.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,168771,246007.000000,246008.000000,246008.000000,246008,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008,107205.000000,2.454640e+05,197280.000000,121053.000000,101918.000000,125912.000000,82328.000000,74030.000000,114800.000000,122064.000000,123525.000000,79009.000000,99921.000000,77730.000000,122391.000000,75094.000000,110148.000000,121053.000000,101918.000000,125912.000000,82328.000000,74030.000000,114800.000000,122064.000000,123525.000000,79009.000000,99921.00000,77730.000000,122391.000000,75094.000000,110148.000000,121053.000000,101918.000000,125912.000000,82328.000000,74030.000000,114800.000000,122064.000000,123525.000000,79009.000000,99921.000000,77730.000000,122391.000000,75094.000000,110148.000000,77616,122468,127171.000000,120844,129247,245195.000000,245195.000000,245195.000000,245195.000000,246007.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,246008.000000,212836.000000,212836.000000,212836.000000,212836.000000,212836.000000,212836.000000
unique,NaN,NaN,2,3,2,2,NaN,NaN,NaN,NaN,NaN,7,8,5,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,NaN,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,F,N,Y,NaN,NaN,NaN,NaN,NaN,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reg oper account,block of flats,NaN,Panel,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,222622,161867,162355,170535,NaN,NaN,NaN,NaN,NaN,198726,126919,174831,157074,218258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44126,NaN,NaN,NaN,43046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58983,120287,NaN,52819,127375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,278280.072908,0.081176,NaN,NaN,NaN,NaN,0.415527,1.689122e+05,5.996283e+05,27129.162648,5.389289e+05,NaN,NaN,NaN,NaN,NaN,0.020882,-16042.794393,63963.755699,-4988.033300,-2991.647642,12.034346,0.999996,0.819481,0.199095,0.998138,0.281023,0.056722,NaN,2.150760,2.052092,2.031206,NaN,12.064518,0.015186,0.050616,0.040499,0.078254,0.230541,0.179592,NaN,0.502277,5.143916e-01,0.510838,0.117426,0.088385,0.977715,0.752387,0.044643,0.078917,0.149693,0.226097,0.231765,0.066152,0.100702,0.107329,0.008674,0.028299,0.114261,0.087517,0.977066,0.759530,0.042587,0.074466,0.145183,0.222161,0.227929,0.06477,0.105589,0.105934,0.007917,0.026986,0.117851,0.087902,0.977722,0.755640,0.044617,0.078030,0.149187,0.225701,0.231482,0.066967,0.101897,0.108541,0.008503,0.028191,NaN,NaN,0.102518,NaN,NaN,1.423598,0.144045,1.406803,0.100691,-962.705390,0.000041,0.710790,0.000085,0.015101,0.087932,0.000191,0.081103,0.003821,0.000012,0.003906,0.000008,0.003581,0.002951,0.001175,0.009996,0.000264,0.007975,0.000589,0.000508,0.000289,0.006291,0.006944,0.034487,0.267403,0.264109,1.900040
std,102790.909988,0.273106,NaN,NaN,NaN,NaN,0.719922,2.603818e+05,4.030672e+05,14504.965232,3.699738e+05,NaN,NaN,NaN,NaN,NaN,0.013852,4365.973763,141400.318322,3520.987048,1510.020637,11.861705,0.002016,0.384620,0.399321,0.043108,0.449500,0.231311,NaN,0.909167,0.509063,0.502715,NaN,3.264923,0.122294,0.219213,0.197126,0.268571,0.421180,0.383848,NaN,0.211078,1.908912e-01,0.194880,0.108059,0.082228,0.059405,0.113013,0.075547,0.134542,0.099886,0.144524,0.161308,0.080915,0.092138,0.110374,0.046717,0.069178,0.107892,0.084158,0.064524,0.109838,0.074033,0.132289,0.100822,0.143613,0.161073,0.08137,0.097539,0.111664,0.045087,0.069954,0.108926,0.081984,0.060121,0.111812,0.075697,0.134423,0.100206,0.144954,0.161801,0.081824,0.093252,0.112075,0.046307,0.069892,NaN,NaN,0.107308,NaN,NaN,2.423894,0.449464,2.402398,0.364917,826.831325,0.006376,0.453397,0.009239,0.121956,0.283197,0.013821,0.272994,0.061696,0.003492,0.062379,0.002851,0.059736,0.054244,0.034255,0.099477,0.016253,0.088948,0.024271,0.022536,0.016986,0.083236,0.109538,0.204179,0.916640,0.611269,1.868217
min,100002.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,NaN,NaN,NaN,NaN,NaN,0.000290,-25229.000000,-17912.000000,-23738.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.014568,8.173617e-08,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189165.500000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.125000e+05,2.700000e+05,16561.125000,2.385000e+05,NaN,NaN,NaN,NaN,NaN,0.010006,-19691.000000,-2758.000000,-7481.000000,-4297.250000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.334285,3.926530e-01,0.370650,0.057700,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045300,0.000000,0.000000,0.052500,0.040700,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.01650,0.054200,0.042700,0.000000,0.000000,0.058300,0.043700,0.976700,0.691400,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045700,0.000000,0.000000,NaN,NaN,0.041200,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278392.500000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.485000e+05,5.147775e+05,24930.000000,4.500000e+05,NaN,NaN,NaN,NaN,NaN,0.018850,-15763.000000,-1215.000000,-4503.000000,-3250.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.505994,5.657089e-01,0.535276,0.087600,0.076400,0.981600,0.755200,0.021000,0.000000,0.137900,0.166700,0.208300,0.048100,0.075600,0.074500,0.000000,0.003600,0.084000,0.074700,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.04580,0.077100,0.073100,0.000000,0.001100,0.087400,0.075900,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048600,0.076100,0.074900,0.000000,0.003050,NaN,NaN,0.068800,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367272.250000,0.000000,NaN,NaN,NaN,NaN,1.000000,2.025000e+05,8.086500e+05,34599.375000,6.795000e+05,NaN,NaN,NaN,NaN,NaN,0.028663,-12418.000000,-289.000000,-2018.000000,-1715.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,NaN,3.000000,2.000000,2.000000,NaN,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.675200,6.634999e-01,0.669057,0.148500,0.112200,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085400,0.121000,0.129900,0.003900,0.027700,0.145000,0.112500,0.986600,0.823600,0.049000,0.120800,0.206900,0.333300,0.375000,0.08400,0.131300,0.125100,0.003900,0.023000,0.148900,0.111600,0.986600,0.825600,0.051400,0.120000,0.206900,0.333300,0.375000,0.086500,0.123100,0.130300,0.003900,0.026600,NaN,NaN,0.127500,NaN,NaN,2.000000,0.000000,2.000000,0.000000,-273.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,NaN,NaN,NaN,NaN,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7489.000000,365243.000000,0.000000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,20.000000,3.000000,3.000000,NaN,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.962693,8.549997e-01,0.896010,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,19.000000,23.000000

In [12]:
describe_features("application_train.csv", display_option="condensed")

,Dataset,Column,Description,Special
0,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...
117,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

#### Highlights & Ideas

There are **246k+** records and **122** columns. A sizeable dataset.

- ```NAME_CONTRACT_TYPE```: research about types of loan contracts.
- From column 21 ```OWN_CAR_AGE``` to column 27 ```FLAG_EMAIL```, there is room for studying correlation and feature engineering, such as rearrangement.
- From column 44 ```APARTMENTS_AVG``` to column 90 ```EMERGENCYSTATE_MODE``` we get normalized aspects about the building where the client lives.
    - Their description are all the same in the column description dataset: "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor",normalized".
    - Well, here it gets trick. I intend to split the data between train and validation. Considering the model will be deployed, will data always come normalized?
    - Some columns, such as ```WALLSMATERIAL_MODE```, are categorical. They look like normal categorical columns and not from the mode (suffix).
- ```DAYS_LAST_PHONE_CHANGE```: called for my attention. Applicants changed their phone in the exact date of the application? Seems odd.
- From column 96 ```FLAG_DOCUMENT_2``` to column 115 ```FLAG_DOCUMENT_21```, there is also room for studying correlation and feature engineering, such as rearrangement.

### bureau.csv

In [40]:
overview_data(
    "bureau.csv", display_option="condensed", sample_mode="random", sample_size=5
)

#### Dataset name (.csv)

bureau.csv

#### Dataset Random Samples

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1236926,305481,5916012,Closed,currency 1,-1531,0,-435.0,-846.0,NaN,0,450000.0,0.0,NaN,0.0,Credit card,-846,0.0
904815,288975,5667606,Closed,currency 1,-2263,0,-1166.0,-1165.0,NaN,0,169884.0,0.0,0.0,0.0,Consumer credit,-1164,NaN
849614,309911,6052617,Closed,currency 1,-932,0,911.0,-233.0,NaN,0,112500.0,0.0,NaN,0.0,Credit card,-228,NaN
16038,358247,6025723,Closed,currency 1,-800,0,-70.0,-636.0,NaN,0,140611.5,NaN,NaN,0.0,Consumer credit,-636,0.0
124732,452117,5242575,Closed,currency 1,-782,0,-417.0,-415.0,0.0,0,43960.5,0.0,0.0,0.0,Consumer credit,-415,NaN

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

#### Dataset descriptive statistics

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1716428,1716428,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1716428,1.716428e+06,4.896370e+05
unique,NaN,NaN,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN
top,NaN,NaN,Closed,currency 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer credit,NaN,NaN
freq,NaN,NaN,1079273,1715020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1251615,NaN,NaN
mean,2.782149e+05,5.924434e+06,NaN,NaN,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,NaN,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,NaN,NaN,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,NaN,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,NaN,NaN,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,NaN,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,NaN,NaN,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,NaN,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,NaN,NaN,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,NaN,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,NaN,NaN,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,NaN,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,NaN,NaN,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,NaN,3.720000e+02,1.184534e+08

In [47]:
describe_features("bureau.csv", display_option="condensed")

,Dataset,Column,Description,Special
122,bureau.csv,SK_ID_CURR,ID of loan in our sample - one loan in our sam...,hashed
123,bureau.csv,SK_BUREAU_ID,Recoded ID of previous Credit Bureau credit re...,hashed
124,bureau.csv,CREDIT_ACTIVE,Status of the Credit Bureau (CB) reported credits,NaN
125,bureau.csv,CREDIT_CURRENCY,Recoded currency of the Credit Bureau credit,recoded
126,bureau.csv,DAYS_CREDIT,How many days before current application did c...,time only relative to the application
127,bureau.csv,CREDIT_DAY_OVERDUE,Number of days past due on CB credit at the ti...,NaN
128,bureau.csv,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at t...,time only relative to the application
129,bureau.csv,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of appl...,time only relative to the application
130,bureau.csv,AMT_CREDIT_MAX_OVERDUE,Maximal amount overdue on the Credit Bureau cr...,NaN
131,bureau.csv,CNT_CREDIT_PROLONG,How many times was the Credit Bureau credit pr...,NaN
132,bureau.csv,AMT_CREDIT_SUM,Current credit amount for the Credit Bureau cr...,NaN
133,bureau.csv,AMT_CREDIT_SUM_DEBT,Current debt on Credit Bureau credit,NaN
134,bureau.csv,AMT_CREDIT_SUM_LIMIT,Current credit limit of credit card reported i...,NaN
135,bureau.csv,AMT_CREDIT_SUM_OVERDUE,Current amount overdue on Credit Bureau credit,NaN
136,bureau.csv,CREDIT_TYPE,"Type of Credit Bureau credit (Car, cash,...)",NaN
137,bureau.csv,DAYS_CREDIT_UPDATE,How many days before loan application did last...,time only relative to the application
138,bureau.csv,AMT_ANNUITY,Annuity of the Credit Bureau credit,NaN

#### Highlights & Ideas

There are **1.1M+** records and **17** columns. A lengthy dataset. The are two main challenges here:

1. This is not out flagship dataset. How can we extract information from this dataset to enrich the data we have from ```application_train.csv```?
2. There are multiple entries for some IDs (every previous loan in the Credit Bureau is stored here). How can we summarize the data to integrate it with the other dataset? Use the most recent, eldest, average, use the mode, or even ignore some columns are all possible ideas.

### bureau_balance.csv

In [45]:
overview_data(
    "bureau_balance.csv",
    display_option="condensed",
    sample_mode="random",
    sample_size=5,
)

#### Dataset name (.csv)

bureau_balance.csv

#### Dataset Random Samples

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
10077170       6423524             -10      X
15189524       6059583             -20      0
6921920        6298033             -70      C
2380938        6562465              -2      0
21676529       5929260             -31      C

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

#### Dataset descriptive statistics

        SK_ID_BUREAU  MONTHS_BALANCE    STATUS
count   2.729992e+07    2.729992e+07  27299925
unique           NaN             NaN         8
top              NaN             NaN         C
freq             NaN             NaN  13646993
mean    6.036297e+06   -3.074169e+01       NaN
std     4.923489e+05    2.386451e+01       NaN
min     5.001709e+06   -9.600000e+01       NaN
25%     5.730933e+06   -4.600000e+01       NaN
50%     6.070821e+06   -2.500000e+01       NaN
75%     6.431951e+06   -1.100000e+01       NaN
max     6.842888e+06    0.000000e+00       NaN

In [46]:
describe_features("bureau_balance.csv", display_option="condensed")

,Dataset,Column,Description,Special
139,bureau_balance.csv,SK_BUREAU_ID,Recoded ID of Credit Bureau credit (unique cod...,hashed
140,bureau_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
141,bureau_balance.csv,STATUS,Status of Credit Bureau loan during the month ...,NaN

#### Highlights & Ideas

As expected from a balance dataset, there are far too many records: **27.2M**. 

Not all ```SK_ID_BUREAU``` from **bureau.csv** will have balance data and not all balance data is complete (some have only for a few months and some only present value X - for unknown - in their ```STATUS```). So, it will be complicated to extract meaningful data from this dataset and to balance the effort-value tradeoff.

### previous_application.csv

In [48]:
overview_data(
    "previous_application.csv",
    display_option="condensed",
    sample_mode="random",
    sample_size=5,
)

#### Dataset name (.csv)

previous_application.csv

#### Dataset Random Samples

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
876718,1327604,127360,Consumer loans,5318.100,27616.5,26082.0,2763.0,27616.5,WEDNESDAY,10,...,Consumer electronics,6.0,high,POS household with interest,365243.0,-1174.0,-1024.0,-1024.0,-1017.0,0.0
1463966,1830718,218834,Cash loans,19737.945,135000.0,165226.5,NaN,135000.0,WEDNESDAY,8,...,XNA,12.0,high,Cash Street: high,365243.0,-1193.0,-863.0,-863.0,-855.0,1.0
354631,1258084,104079,Consumer loans,3304.710,36184.5,32562.0,3622.5,36184.5,FRIDAY,11,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-574.0,-244.0,-574.0,-569.0,0.0
408441,2257201,389250,Consumer loans,10912.545,240948.0,240948.0,0.0,240948.0,SATURDAY,9,...,Consumer electronics,24.0,low_action,POS household without interest,365243.0,-724.0,-34.0,-34.0,-26.0,0.0
37031,1038283,385546,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

#### Dataset descriptive statistics

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1670214,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1670214,1.670214e+06,...,1670214,1.297984e+06,1670214,1669868,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
unique,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,7,NaN,...,11,NaN,5,17,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,NaN,NaN,NaN,NaN,NaN,TUESDAY,NaN,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,747553,NaN,NaN,NaN,NaN,NaN,255118,NaN,...,855720,NaN,517215,285990,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.923089e+06,2.783572e+05,NaN,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,NaN,1.248418e+01,...,NaN,1.605408e+01,NaN,NaN,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,NaN,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,NaN,3.334028e+00,...,NaN,1.456729e+01,NaN,NaN,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,NaN,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,NaN,0.000000e+00,...,NaN,0.000000e+00,NaN,NaN,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,NaN,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,NaN,1.000000e+01,...,NaN,6.000000e+00,NaN,NaN,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,NaN,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,NaN,1.200000e+01,...,NaN,1.200000e+01,NaN,NaN,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,NaN,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,NaN,1.500000e+01,...,NaN,2.400000e+01,NaN,NaN,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,NaN,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,NaN,2.300000e+01,...,NaN,8.400000e+01,NaN,NaN,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

In [52]:
describe_features("previous_application.csv", display_option="condensed")

,Dataset,Column,Description,Special
173,previous_application.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
174,previous_application.csv,SK_ID_CURR,ID of loan in our sample,hashed
175,previous_application.csv,NAME_CONTRACT_TYPE,"Contract product type (Cash loan, consumer loa...",NaN
176,previous_application.csv,AMT_ANNUITY,Annuity of previous application,NaN
177,previous_application.csv,AMT_APPLICATION,For how much credit did client ask on the prev...,NaN
178,previous_application.csv,AMT_CREDIT,Final credit amount on the previous applicatio...,NaN
179,previous_application.csv,AMT_DOWN_PAYMENT,Down payment on the previous application,NaN
180,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if ...,NaN
181,previous_application.csv,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
182,previous_application.csv,HOUR_APPR_PROCESS_START,Approximately at what day hour did the client ...,rounded
183,previous_application.csv,FLAG_LAST_APPL_PER_CONTRACT,Flag if it was last application for the previo...,NaN
184,previous_application.csv,NFLAG_LAST_APPL_IN_DAY,Flag if the application was the last applicati...,NaN
185,previous_application.csv,NFLAG_MICRO_CASH,Flag Micro finance loan,NaN
186,previous_application.csv,RATE_DOWN_PAYMENT,Down payment rate normalized on previous credit,normalized
187,previous_application.csv,RATE_INTEREST_PRIMARY,Interest rate normalized on previous credit,normalized
188,previous_application.csv,RATE_INTEREST_PRIVILEGED,Interest rate normalized on previous credit,normalized
189,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
190,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN
191,previous_application.csv,DAYS_DECISION,Relative to current application when was the d...,time only relative to the application
192,previous_application.csv,NAME_PAYMENT_TYPE,Payment method that client chose to pay for th...,NaN
193,previous_application.csv,CODE_REJECT_REASON,Why was the previous application rejected,NaN
194,previous_application.csv,NAME_TYPE_SUITE,Who accompanied client when applying for the p...,NaN
195,previous_application.csv,NAME_CLIENT_TYPE,Was the client old or new client when applying...,NaN
196,previous_application.csv,NAME_GOODS_CATEGORY,What kind of goods did the client apply for in...,NaN
197,previous_application.csv,NAME_PORTFOLIO,"Was the previous application for CASH, POS, CA...",NaN
198,previous_application.csv,NAME_PRODUCT_TYPE,Was the previous application x-sell o walk-in,NaN
199,previous_application.csv,CHANNEL_TYPE,Through which channel we acquired the client o...,NaN
200,previous_application.csv,SELLERPLACE_AREA,Selling area of seller place of the previous a...,NaN
201,previous_application.csv,NAME_SELLER_INDUSTRY,The industry of the seller,NaN
202,previous_application.csv,CNT_PAYMENT,Term of previous credit at application of the ...,NaN
203,previous_application.csv,NAME_YIELD_GROUP,Grouped interest rate into small medium and hi...,grouped
204,previous_application.csv,PRODUCT_COMBINATION,Detailed product combination of the previous a...,NaN
205,previous_application.csv,DAYS_FIRST_DRAWING,Relative to application date of current applic...,time only relative to the application
206,previous_application.csv,DAYS_FIRST_DUE,Relative to application date of current applic...,time only relative to the application
207,previous_application.csv,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current applic...,time only relative to the application
208,previous_application.csv,DAYS_LAST_DUE,Relative to application date of current applic...,time only relative to the application
209,previous_application.csv,DAYS_TERMINATION,Relative to application date of current applic...,time only relative to the application
210,previous_application.csv,NFLAG_INSURED_ON_APPROVAL,Did the client requested insurance during the ...,NaN

#### Highlights & Ideas

Again, multiple records per ```SK_ID_CURR```. Every previous application the applicant made with Home Credit is stored here. In this case, even more difficult to identify how to extract information from here: we may summarize the data per ```SK_ID_CURR``` using statistical measures or decide which previous application to use.

This Dataset is connected to 3 others, containing installments and more particular data from each ```SK_ID_PREV```.

### POS_CASH_balance.csv

In [51]:
overview_data(
    "POS_CASH_balance.csv",
    display_option="condensed",
    sample_mode="random",
    sample_size=5,
)

#### Dataset name (.csv)

POS_CASH_balance.csv

#### Dataset Random Samples

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6385902,1141316,278001,-37,12.0,0.0,Completed,0,0
389847,2682740,248899,-67,12.0,4.0,Active,0,0
7302029,2136647,209965,-73,18.0,18.0,Active,0,0
6010681,1678541,432875,-8,24.0,16.0,Active,0,0
2031441,1870173,117636,-86,10.0,7.0,Active,0,0

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

#### Dataset descriptive statistics

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
count,1.000136e+07,1.000136e+07,1.000136e+07,9.975287e+06,9.975271e+06,10001358,1.000136e+07,1.000136e+07
unique,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,9151119,NaN,NaN
mean,1.903217e+06,2.784039e+05,-3.501259e+01,1.708965e+01,1.048384e+01,NaN,1.160693e+01,6.544684e-01
std,5.358465e+05,1.027637e+05,2.606657e+01,1.199506e+01,1.110906e+01,NaN,1.327140e+02,3.276249e+01
min,1.000001e+06,1.000010e+05,-9.600000e+01,1.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00
25%,1.434405e+06,1.895500e+05,-5.400000e+01,1.000000e+01,3.000000e+00,NaN,0.000000e+00,0.000000e+00
50%,1.896565e+06,2.786540e+05,-2.800000e+01,1.200000e+01,7.000000e+00,NaN,0.000000e+00,0.000000e+00
75%,2.368963e+06,3.674290e+05,-1.300000e+01,2.400000e+01,1.400000e+01,NaN,0.000000e+00,0.000000e+00
max,2.843499e+06,4.562550e+05,-1.000000e+00,9.200000e+01,8.500000e+01,NaN,4.231000e+03,3.595000e+03

In [53]:
describe_features("POS_CASH_balance.csv", display_option="condensed")

,Dataset,Column,Description,Special
142,POS_CASH_balance.csv,SK_ID_PREV,ID of previous credit in Home Credit related t...,NaN
143,POS_CASH_balance.csv,SK_ID_CURR,ID of loan in our sample,NaN
144,POS_CASH_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
145,POS_CASH_balance.csv,CNT_INSTALMENT,Term of previous credit (can change over time),NaN
146,POS_CASH_balance.csv,CNT_INSTALMENT_FUTURE,Installments left to pay on the previous credit,NaN
147,POS_CASH_balance.csv,NAME_CONTRACT_STATUS,Contract status during the month,NaN
148,POS_CASH_balance.csv,SK_DPD,DPD (days past due) during the month of previo...,NaN
149,POS_CASH_balance.csv,SK_DPD_DEF,DPD during the month with tolerance (debts wit...,NaN

#### Highlights & Ideas

Well, seems like every "balance" dataframe will present the same challenge. However, this dataset may provide useful information about any days past due (```SK_DPD```) in the past or present.

### installments_payments.csv

In [88]:
overview_data(
    "installments_payments.csv",
    display_option="condensed",
    sample_mode="random",
    sample_size=5,
)

#### Dataset name (.csv)

installments_payments.csv

#### Dataset Random Samples

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
5672587,2652367,232137,0.0,18,-2398.0,-2403.0,4500.000,4500.000
566432,1845882,167969,1.0,14,-136.0,-140.0,8043.480,8043.480
1780626,2430317,105881,1.0,15,-120.0,-120.0,48222.855,48222.855
2601634,1052426,170461,1.0,7,-1083.0,-1090.0,11721.735,11721.735
4353865,2148550,265570,0.0,47,-1125.0,-1128.0,7875.000,7875.000

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

#### Dataset descriptive statistics

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360250e+07,1.360540e+07,1.360250e+07
mean,1.903365e+06,2.784449e+05,8.566373e-01,1.887090e+01,-1.042270e+03,-1.051114e+03,1.705091e+04,1.723822e+04
std,5.362029e+05,1.027183e+05,1.035216e+00,2.666407e+01,8.009463e+02,8.005859e+02,5.057025e+04,5.473578e+04
min,1.000001e+06,1.000010e+05,0.000000e+00,1.000000e+00,-2.922000e+03,-4.921000e+03,0.000000e+00,0.000000e+00
25%,1.434191e+06,1.896390e+05,0.000000e+00,4.000000e+00,-1.654000e+03,-1.662000e+03,4.226085e+03,3.398265e+03
50%,1.896520e+06,2.786850e+05,1.000000e+00,8.000000e+00,-8.180000e+02,-8.270000e+02,8.884080e+03,8.125515e+03
75%,2.369094e+06,3.675300e+05,1.000000e+00,1.900000e+01,-3.610000e+02,-3.700000e+02,1.671021e+04,1.610842e+04
max,2.843499e+06,4.562550e+05,1.780000e+02,2.770000e+02,-1.000000e+00,-1.000000e+00,3.771488e+06,3.771488e+06

In [86]:
describe_features("installments_payments.csv", display_option="condensed")

,Dataset,Column,Description,Special
211,installments_payments.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
212,installments_payments.csv,SK_ID_CURR,ID of loan in our sample,hashed
213,installments_payments.csv,NUM_INSTALMENT_VERSION,Version of installment calendar (0 is for cred...,NaN
214,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

#### Highlights & Ideas

A dataset with only numerical features, presenting the same challenge as the other datasets.

### credit_card_balance.csv

In [127]:
overview_data(
    "credit_card_balance.csv",
    display_option="condensed",
    sample_mode="random",
    sample_size=5,
)

#### Dataset name (.csv)

credit_card_balance.csv

#### Dataset Random Samples

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2515502,2229653,284348,-45,136399.635,135000,0.0,0.0,0.0,0.0,6750.000,...,136399.635,136399.635,0.0,0,0.0,0.0,48.0,Active,1,1
1307940,1786293,156412,-77,0.000,90000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,5.0,Active,0,0
318549,2199394,397441,-88,0.000,180000,0.0,0.0,0.0,0.0,9000.000,...,0.000,0.000,0.0,0,0.0,0.0,1.0,Active,0,0
2558004,1171732,364620,-6,345647.430,337500,84600.0,84600.0,0.0,0.0,16579.215,...,335103.930,335103.930,6.0,6,0.0,0.0,2.0,Active,0,0
3802735,1798989,361308,-69,93392.505,202500,0.0,0.0,0.0,0.0,10125.000,...,93392.505,93392.505,0.0,0,0.0,0.0,18.0,Active,0,0

#### Dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

#### Dataset descriptive statistics

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,...,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3840312,3.840312e+06,3.840312e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3698436,NaN,NaN
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,5.961325e+03,7.433388e+03,2.881696e+02,2.968805e+03,3.540204e+03,...,5.808881e+04,5.809829e+04,3.094490e-01,7.031439e-01,4.812496e-03,5.594791e-01,2.082508e+01,NaN,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,...,1.059654e+05,1.059718e+05,1.100401e+00,3.190347e+00,8.263861e-02,3.240649e+00,2.005149e+01,NaN,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,NaN,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,NaN,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,...,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01,NaN,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,...,1.493338e+06,1.493338e+06,5.100000e+01,1.650000e+02,1.200000e+01,1.650000e+02,1.200000e+02,NaN,3.260000e+03,3.260000e+03

In [128]:
describe_features("credit_card_balance.csv", display_option="condensed")

,Dataset,Column,Description,Special
150,credit_card_balance.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
151,credit_card_balance.csv,SK_ID_CURR,ID of loan in our sample,hashed
152,credit_card_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
153,credit_card_balance.csv,AMT_BALANCE,Balance during the month of previous credit,NaN
154,credit_card_balance.csv,AMT_CREDIT_LIMIT_ACTUAL,Credit card limit during the month of the prev...,NaN
155,credit_card_balance.csv,AMT_DRAWINGS_ATM_CURRENT,Amount drawing at ATM during the month of the ...,NaN
156,credit_card_balance.csv,AMT_DRAWINGS_CURRENT,Amount drawing during the month of the previou...,NaN
157,credit_card_balance.csv,AMT_DRAWINGS_OTHER_CURRENT,Amount of other drawings during the month of t...,NaN
158,credit_card_balance.csv,AMT_DRAWINGS_POS_CURRENT,Amount drawing or buying goods during the mont...,NaN
159,credit_card_balance.csv,AMT_INST_MIN_REGULARITY,Minimal installment for this month of the prev...,NaN
160,credit_card_balance.csv,AMT_PAYMENT_CURRENT,How much did the client pay during the month o...,NaN
161,credit_card_balance.csv,AMT_PAYMENT_TOTAL_CURRENT,How much did the client pay during the month i...,NaN
162,credit_card_balance.csv,AMT_RECEIVABLE_PRINCIPAL,Amount receivable for principal on the previou...,NaN
163,credit_card_balance.csv,AMT_RECIVABLE,Amount receivable on the previous credit,NaN
164,credit_card_balance.csv,AMT_TOTAL_RECEIVABLE,Total amount receivable on the previous credit,NaN
165,credit_card_balance.csv,CNT_DRAWINGS_ATM_CURRENT,Number of drawings at ATM during this month on...,NaN
166,credit_card_balance.csv,CNT_DRAWINGS_CURRENT,Number of drawings during this month on the pr...,NaN
167,credit_card_balance.csv,CNT_DRAWINGS_OTHER_CURRENT,Number of other drawings during this month on ...,NaN
168,credit_card_balance.csv,CNT_DRAWINGS_POS_CURRENT,Number of drawings for goods during this month...,NaN
169,credit_card_balance.csv,CNT_INSTALMENT_MATURE_CUM,Number of paid installments on the previous cr...,NaN
170,credit_card_balance.csv,NAME_CONTRACT_STATUS,"Contract status (active signed,...) on the pre...",NaN
171,credit_card_balance.csv,SK_DPD,DPD (Days past due) during the month on the pr...,NaN
172,credit_card_balance.csv,SK_DPD_DEF,DPD (Days past due) during the month with tole...,NaN

#### Highlights & Ideas

Here, we pretty much observe the same behavior from **POS_CASH_balance.csv**, but with credit card characteristics.

### Final Thoughts

Through this first analysis, seems like we might have a considerable amount of the Iunfamous **NaNs** in the data. We also have multiple huge datasets with relations that are not so easy to fit as feature data. Therefore, I will dive a little bit deeper into the exploratory data analysis to gather more insights.

*Next notebook: [3.0-ejk-eda-applications](3.0-ejk-eda-applications.ipynb).*