# ðŸ—„ Getting the Data
---

The available data was provided by the instructor in this [link](https://drive.google.com/file/d/17fyteuN2MdGdbP5_Xq_sySN_yH91vTup/view). It is a ```.zip``` file with 673mb. There are no impediments related to legal obligations, authorizations or sensitive information.

With a file of this size, we will definetely experience restrictions on uploading it to Github. So, I either use Git Large File Storage solution or automate the process of getting the data using ```make```. I chose the latter to improve reproducibility and leave the project structure as light as possible.

1. The Shell Terminal in the root folder of the project:
 
    ```make get_data```

 2. The Ipython Terminal Interpreter from this notebook:
 
    ```!cd .. && make get_data```

The package requirements will be installed and the data will be download into ```/data/raw/``` folder.

## ðŸ¥½ Overviewing the Data

There are 10 available Datasets and a Metadata PDF file. From the 10 Datasets:
- 1 is the Columns Descriptions.
- 1 is a Sample Submission.
- 1 is the test set for the Final Submission.
- The rest is data to be explored and represented in the ER Diagram below:

<div align="center">
<img src="../references/home_credit.png" alt="Home Credit ER Diagram" style="height: 600px"/>
</div>

In [185]:
%load_ext autoreload
%autoreload 2

from src.data.explore_data import overview_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [196]:
overview_data('bureau_balance.csv')

### Dataset name (.csv)

---

bureau_balance.csv

### 5 samples from the data

---

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
10077170       6423524             -10      X
15189524       6059583             -20      0
6921920        6298033             -70      C
2380938        6562465              -2      0
21676529       5929260             -31      C

### Dataframe info

---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

### Dataframe descriptive statistics

---

        SK_ID_BUREAU  MONTHS_BALANCE    STATUS
count   2.729992e+07    2.729992e+07  27299925
unique           NaN             NaN         8
top              NaN             NaN         C
freq             NaN             NaN  13646993
mean    6.036297e+06   -3.074169e+01       NaN
std     4.923489e+05    2.386451e+01       NaN
min     5.001709e+06   -9.600000e+01       NaN
25%     5.730933e+06   -4.600000e+01       NaN
50%     6.070821e+06   -2.500000e+01       NaN
75%     6.431951e+06   -1.100000e+01       NaN
max     6.842888e+06    0.000000e+00       NaN