# ðŸ§¾ Table of Contents

- [3. Exploring the Data](#3.-Exploring-the-Data)
  - [Preparing our toolbox](#Preparing-our-toolbox)
  - [3.1 Application_train.csv](#3.1-Application_train.csv)
    - [Exploring: Data Types, Missing Values, Noisiness, and Distribution](#Exploring:-Data-Types,-Missing-Values,-Noisiness,-and-Distribution)
      - [Highlights](#Highlights)
    - [Investigating](#Investigating)
      - [Target](#Target)
      - [Categorical Features for Transformation](#Categorical-Features-for-Transformation)
      - [Highlights](#Highlights)
    - [Decisions](#Decisions)

# 3. Exploring the Data

Exploratory Data Analysis aiming to gain insights for a **first iteration** of data preparation.

## Preparing our toolbox

In [85]:
%load_ext autoreload
%autoreload 2

from src.data.explore_data import (
        list_datasets, 
        describe_feature, 
        overview_data, 
        create_dataframe, 
        describe_features, 
        create_exploratory_dataset,
        create_decision_dataset
)
import pandas as pd
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 3.1 Application_train.csv

In [3]:
create_exploratory_dataset()
df_exploratory = create_dataframe('interim', 'application_exploratory.csv')

### Exploring: Data Types, Missing Values, Noisiness, and Distribution

In [4]:
with pd.option_context('display.max_rows', len(df_exploratory)):
    display(df_exploratory)

,Column,Description,NanPercentage,DataType,FeatureType,LowerOutliers,UpperOutliers,Z3Outliers,NormalDistribution,Skewness,Kurtosis,CorrWithTarget
0,SK_ID_CURR,ID of loan in our sample,0.00,int64,id,,,,,,,-0.0
1,TARGET,Target variable (1 - client with payment diffi...,0.00,int64,target,,,,,,,1.0
2,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,0.00,object,categorical,,,,,,,
3,CODE_GENDER,Gender of the client,0.00,object,categorical,,,,,,,
4,FLAG_OWN_CAR,Flag if the client owns a car,0.00,object,categorical,,,,,,,
5,FLAG_OWN_REALTY,Flag if client owns a house or flat,0.00,object,categorical,,,,,,,
6,CNT_CHILDREN,Number of children the client has,0.00,int64,numeric,,,,,,,0.02
7,AMT_INCOME_TOTAL,Income of the client,0.00,float64,numeric,0,12626,209,no,164881.5,369.58,-0.0
8,AMT_CREDIT,Credit amount of the loan,0.00,float64,numeric,0,5278,2630,no,1.96,1.24,-0.03
9,AMT_ANNUITY,Loan annuity,0.00,float64,numeric,0,6012,0,yes,7.76,1.58,-0.01
10,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,0.09,float64,numeric,0,11882,0,yes,2.45,1.35,-0.04
11,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,0.43,object,categorical,,,,,,,
12,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",0.00,object,categorical,,,,,,,
13,NAME_EDUCATION_TYPE,Level of highest education the client achieved,0.00,object,categorical,,,,,,,
14,NAME_FAMILY_STATUS,Family status of the client,0.00,object,categorical,,,,,,,
15,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,0.00,object,categorical,,,,,,,
16,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,0.00,float64,numeric,0,6760,6760,no,3.24,1.49,-0.04
17,DAYS_BIRTH,Client's age in days at the time of application,0.00,int64,numeric,,,,,,,0.08
18,DAYS_EMPLOYED,How many days before the application the perso...,0.00,int64,numeric,,,,,,,-0.04
19,DAYS_REGISTRATION,How many days before the application did clien...,0.00,float64,numeric,527,0,592,no,-0.33,-0.59,0.04
20,DAYS_ID_PUBLISH,How many days before the application did clien...,0.00,int64,numeric,,,,,,,0.05
21,OWN_CAR_AGE,Age of client's car,66.00,float64,numeric,0,4146,0,yes,9.31,2.75,0.04
22,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,0.0
23,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,0.05
24,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,0.03
25,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,-0.0
26,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,-0.02
27,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",0.00,int64,categorical,,,,,,,-0.0
28,OCCUPATION_TYPE,What kind of occupation does the client have,31.40,object,categorical,,,,,,,
29,CNT_FAM_MEMBERS,How many family members does client have,0.00,float64,numeric,0,3149,0,yes,2.82,0.98,0.01
30,REGION_RATING_CLIENT,Our rating of the region where client lives (1...,0.00,int64,numeric,,,,,,,0.06
31,REGION_RATING_CLIENT_W_CITY,Our rating of the region where client lives wi...,0.00,int64,numeric,,,,,,,0.06
32,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,0.00,object,categorical,,,,,,,
33,HOUR_APPR_PROCESS_START,Approximately at what hour did the client appl...,0.00,int64,numeric,,,,,,,-0.02
34,REG_REGION_NOT_LIVE_REGION,Flag if client's permanent address does not ma...,0.00,int64,numeric,,,,,,,0.01
35,REG_REGION_NOT_WORK_REGION,Flag if client's permanent address does not ma...,0.00,int64,numeric,,,,,,,0.01
36,LIVE_REGION_NOT_WORK_REGION,Flag if client's contact address does not matc...,0.00,int64,numeric,,,,,,,0.0
37,REG_CITY_NOT_LIVE_CITY,Flag if client's permanent address does not ma...,0.00,int64,numeric,,,,,,,0.05
38,REG_CITY_NOT_WORK_CITY,Flag if client's permanent address does not ma...,0.00,int64,numeric,,,,,,,0.05
39,LIVE_CITY_NOT_WORK_CITY,Flag if client's contact address does not matc...,0.00,int64,numeric,,,,,,,0.03
40,ORGANIZATION_TYPE,Type of organization where client works,0.00,object,categorical,,,,,,,
41,EXT_SOURCE_1,Normalized score from external data source,56.42,float64,numeric,0,0,0,yes,-0.96,-0.07,-0.16
42,EXT_SOURCE_2,Normalized score from external data source,0.22,float64,numeric,0,0,0,yes,-0.27,-0.79,-0.16
43,EXT_SOURCE_3,Normalized score from external data source,19.81,float64,numeric,0,0,0,yes,-0.66,-0.41,-0.18
44,APARTMENTS_AVG,Normalized information about building where th...,50.79,float64,numeric,0,8493,0,yes,11.3,2.63,-0.03
45,BASEMENTAREA_AVG,Normalized information about building where th...,58.57,float64,numeric,0,5709,0,yes,26.1,3.57,-0.02
46,YEARS_BEGINEXPLUATATION_AVG,Normalized information about building where th...,48.82,float64,numeric,3816,0,0,yes,246.98,-15.48,-0.01
47,YEARS_BUILD_AVG,Normalized information about building where th...,66.53,float64,numeric,1822,0,0,yes,4.33,-0.95,-0.02
48,COMMONAREA_AVG,Normalized information about building where th...,69.91,float64,numeric,0,6403,0,yes,44.36,5.35,-0.02
49,ELEVATORS_AVG,Normalized information about building where th...,53.33,float64,numeric,0,8412,0,yes,7.93,2.44,-0.03
50,ENTRANCES_AVG,Normalized information about building where th...,50.38,float64,numeric,0,3075,0,yes,11.66,2.4,-0.02
51,FLOORSMAX_AVG,Normalized information about building where th...,49.79,float64,numeric,0,4153,0,yes,2.44,1.23,-0.04
52,FLOORSMIN_AVG,Normalized information about building where th...,67.88,float64,numeric,0,281,0,yes,1.36,0.96,-0.03
53,LANDAREA_AVG,Normalized information about building where th...,59.38,float64,numeric,0,5504,0,yes,34.76,4.46,-0.01
54,LIVINGAPARTMENTS_AVG,Normalized information about building where th...,68.40,float64,numeric,0,6361,0,yes,16.08,3.0,-0.03
55,LIVINGAREA_AVG,Normalized information about building where th...,50.25,float64,numeric,0,9972,0,yes,12.35,2.85,-0.03
56,NONLIVINGAPARTMENTS_AVG,Normalized information about building where th...,69.47,float64,numeric,0,12380,0,yes,294.79,15.78,-0.0
57,NONLIVINGAREA_AVG,Normalized information about building where th...,55.23,float64,numeric,0,13278,0,yes,65.01,6.55,-0.01
58,APARTMENTS_MODE,Normalized information about building where th...,50.79,float64,numeric,0,8120,0,yes,11.69,2.7,-0.03
59,BASEMENTAREA_MODE,Normalized information about building where th...,58.57,float64,numeric,0,5497,0,yes,24.47,3.48,-0.02
60,YEARS_BEGINEXPLUATATION_MODE,Normalized information about building where th...,48.82,float64,numeric,4039,0,0,yes,220.23,-14.76,-0.01
61,YEARS_BUILD_MODE,Normalized information about building where th...,66.53,float64,numeric,2028,0,0,yes,4.71,-0.99,-0.02
62,COMMONAREA_MODE,Normalized information about building where th...,69.91,float64,numeric,0,6395,0,yes,47.32,5.52,-0.02
63,ELEVATORS_MODE,Normalized information about building where th...,53.33,float64,numeric,0,7774,0,yes,8.69,2.56,-0.03
64,ENTRANCES_MODE,Normalized information about building where th...,50.38,float64,numeric,0,3046,0,yes,11.47,2.39,-0.02
65,FLOORSMAX_MODE,Normalized information about building where th...,49.79,float64,numeric,0,4064,0,yes,2.55,1.25,-0.04
66,FLOORSMIN_MODE,Normalized information about building where th...,67.88,float64,numeric,0,261,0,yes,1.37,0.97,-0.03
67,LANDAREA_MODE,Normalized information about building where th...,59.38,float64,numeric,0,5592,0,yes,33.04,4.36,-0.01
68,LIVINGAPARTMENTS_MODE,Normalized information about building where th...,68.40,float64,numeric,0,5959,0,yes,13.84,2.87,-0.03
69,LIVINGAREA_MODE,Normalized information about building where th...,50.25,float64,numeric,0,10485,0,yes,12.43,2.9,-0.03
70,NONLIVINGAPARTMENTS_MODE,Normalized information about building where th...,69.47,float64,numeric,0,11289,0,yes,323.88,16.58,-0.0
71,NONLIVINGAREA_MODE,Normalized information about building where th...,55.23,float64,numeric,0,15146,0,yes,63.02,6.49,-0.01
72,APARTMENTS_MEDI,Normalized information about building where th...,50.79,float64,numeric,0,8559,0,yes,11.18,2.63,-0.03
73,BASEMENTAREA_MEDI,Normalized information about building where th...,58.57,float64,numeric,0,5702,0,yes,25.99,3.56,-0.02
74,YEARS_BEGINEXPLUATATION_MEDI,Normalized information about building where th...,48.82,float64,numeric,3798,0,0,yes,246.8,-15.53,-0.01
75,YEARS_BUILD_MEDI,Normalized information about building where th...,66.53,float64,numeric,1825,0,0,yes,4.41,-0.96,-0.02
76,COMMONAREA_MEDI,Normalized information about building where th...,69.91,float64,numeric,0,6423,0,yes,43.79,5.32,-0.02
77,ELEVATORS_MEDI,Normalized information about building where th...,53.33,float64,numeric,0,8374,0,yes,8.03,2.46,-0.03
78,ENTRANCES_MEDI,Normalized information about building where th...,50.38,float64,numeric,0,3082,0,yes,11.54,2.39,-0.02
79,FLOORSMAX_MEDI,Normalized information about building where th...,49.79,float64,numeric,0,4270,0,yes,2.48,1.24,-0.04
80,FLOORSMIN_MEDI,Normalized information about building where th...,67.88,float64,numeric,0,280,0,yes,1.37,0.96,-0.03
81,LANDAREA_MEDI,Normalized information about building where th...,59.38,float64,numeric,0,5499,0,yes,33.12,4.36,-0.01
82,LIVINGAPARTMENTS_MEDI,Normalized information about building where th...,68.40,float64,numeric,0,6326,0,yes,15.31,2.95,-0.03
83,LIVINGAREA_MEDI,Normalized information about building where th...,50.25,float64,numeric,0,10305,0,yes,12.16,2.85,-0.03
84,NONLIVINGAPARTMENTS_MEDI,Normalized information about building where th...,69.47,float64,numeric,0,12085,0,yes,300.66,15.93,-0.0
85,NONLIVINGAREA_MEDI,Normalized information about building where th...,55.23,float64,numeric,0,13876,0,yes,63.84,6.51,-0.01
86,FONDKAPREMONT_MODE,Normalized information about building where th...,68.45,object,categorical,,,,,,,
87,HOUSETYPE_MODE,Normalized information about building where th...,50.22,object,categorical,,,,,,,
88,TOTALAREA_MODE,Normalized information about building where th...,48.31,float64,numeric,0,9671,0,yes,12.13,2.79,-0.03
89,WALLSMATERIAL_MODE,Normalized information about building where th...,50.88,object,categorical,,,,,,,
90,EMERGENCYSTATE_MODE,Normalized information about building where th...,47.46,object,categorical,,,,,,,
91,OBS_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,0.33,float64,numeric,0,23608,0,yes,1712.12,14.18,0.01
92,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,0.33,float64,numeric,216989,245195,0,yes,149.64,5.48,0.03
93,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,0.33,float64,numeric,0,23207,0,yes,1694.2,14.09,0.01
94,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,0.33,float64,numeric,224506,245195,0,yes,99.53,5.47,0.03
95,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,0.00,float64,numeric,357,0,0,yes,-0.31,-0.71,0.05
96,FLAG_DOCUMENT_2,Did client provide document 2,0.00,int64,categorical,,,,,,,0.01
97,FLAG_DOCUMENT_3,Did client provide document 3,0.00,int64,categorical,,,,,,,0.04
98,FLAG_DOCUMENT_4,Did client provide document 4,0.00,int64,categorical,,,,,,,-0.0
99,FLAG_DOCUMENT_5,Did client provide document 5,0.00,int64,categorical,,,,,,,-0.0
100,FLAG_DOCUMENT_6,Did client provide document 6,0.00,int64,categorical,,,,,,,-0.03
101,FLAG_DOCUMENT_7,Did client provide document 7,0.00,int64,categorical,,,,,,,-0.0
102,FLAG_DOCUMENT_8,Did client provide document 8,0.00,int64,categorical,,,,,,,-0.01
103,FLAG_DOCUMENT_9,Did client provide document 9,0.00,int64,categorical,,,,,,,-0.0
104,FLAG_DOCUMENT_10,Did client provide document 10,0.00,int64,categorical,,,,,,,-0.0
105,FLAG_DOCUMENT_11,Did client provide document 11,0.00,int64,categorical,,,,,,,-0.01
106,FLAG_DOCUMENT_12,Did client provide document 12,0.00,int64,categorical,,,,,,,-0.0
107,FLAG_DOCUMENT_13,Did client provide document 13,0.00,int64,categorical,,,,,,,-0.01
108,FLAG_DOCUMENT_14,Did client provide document 14,0.00,int64,categorical,,,,,,,-0.01
109,FLAG_DOCUMENT_15,Did client provide document 15,0.00,int64,categorical,,,,,,,-0.01
110,FLAG_DOCUMENT_16,Did client provide document 16,0.00,int64,categorical,,,,,,,-0.01
111,FLAG_DOCUMENT_17,Did client provide document 17,0.00,int64,categorical,,,,,,,-0.0
112,FLAG_DOCUMENT_18,Did client provide document 18,0.00,int64,categorical,,,,,,,-0.01
113,FLAG_DOCUMENT_19,Did client provide document 19,0.00,int64,categorical,,,,,,,-0.0
114,FLAG_DOCUMENT_20,Did client provide document 20,0.00,int64,categorical,,,,,,,-0.0
115,FLAG_DOCUMENT_21,Did client provide document 21,0.00,int64,categorical,,,,,,,0.0
116,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,211558,212836,0,yes,266.86,14.79,0.0
117,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,211647,212836,0,yes,1191.88,27.12,0.0
118,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,205970,212836,0,yes,161.01,9.11,-0.0
119,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,177813,212836,0,yes,92.33,7.86,-0.01
120,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,172406,212836,0,yes,12.41,2.77,-0.0
121,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,13.48,float64,numeric,0,2676,0,yes,1.88,1.24,0.02

#### Highlights
- The correlation (given by Pearson's R) of the features with the target worried me. I could not find a column with a clear correlation - I was expecting to select a few ones for data visualization. Also, I guess the ```FLAG_DOCUMENT__``` columns might be grouped into a single feature - due to their small correlation.
- Many columns with high NaN records. I believe all columns with a ```NaNPercentage``` higher than 30% might be removed. The remaining will be replaced by the **mean** or **most_frequent**.
- Every **object** and **categorical** column will be transformed by using **OneHotEncoder**. Except for ```NAME_EDUCATION_TYPE``` and ```WEEKDAY_APPR_PROCESS_START```, which will be using **OrdinalEncoder**. I am also going to check the value_counts() of these columns.
- Every record with a feature with an absolute z-score value superior to 3 (outlier) will be removed.

### Investigating

Based on the Highlights, seems like a good idea to check for imbalancement in the target  (which is almost always the case),the values of categorical features, and possible new features.

In [15]:
df_exploratory['Column'][(df_exploratory['DataType']=='object') 
                         & (df_exploratory['FeatureType']=='categorical')
                         & (df_exploratory['NanPercentage']<30)]

2             NAME_CONTRACT_TYPE
3                    CODE_GENDER
4                   FLAG_OWN_CAR
5                FLAG_OWN_REALTY
11               NAME_TYPE_SUITE
12              NAME_INCOME_TYPE
13           NAME_EDUCATION_TYPE
14            NAME_FAMILY_STATUS
15             NAME_HOUSING_TYPE
32    WEEKDAY_APPR_PROCESS_START
40             ORGANIZATION_TYPE
Name: Column, dtype: object

In [6]:
 df = create_dataframe('raw', 'application_train.csv')

#### Target

In [7]:
df['TARGET'].value_counts(normalize=True, dropna=False)

0    0.918824
1    0.081176
Name: TARGET, dtype: float64

#### Categorical Features for Transformation

In [18]:
categorical_object_features = df_exploratory['Column'][(df_exploratory['DataType']=='object') 
                                                       & (df_exploratory['FeatureType']=='categorical')
                                                       & (df_exploratory['NanPercentage']<30)].to_list()

for feature in categorical_object_features:
    print(f'{df[feature].value_counts(normalize=True, dropna=False)}\n')

Cash loans         0.904938
Revolving loans    0.095062
Name: NAME_CONTRACT_TYPE, dtype: float64

F      0.657975
M      0.342013
XNA    0.000012
Name: CODE_GENDER, dtype: float64

N    0.659958
Y    0.340042
Name: FLAG_OWN_CAR, dtype: float64

Y    0.693209
N    0.306791
Name: FLAG_OWN_REALTY, dtype: float64

Unaccompanied      0.807803
Family             0.130666
Spouse, partner    0.037076
Children           0.010626
Other_B            0.005886
NaN                0.004260
Other_A            0.002801
Group of people    0.000882
Name: NAME_TYPE_SUITE, dtype: float64

Working                 0.515914
Commercial associate    0.233005
Pensioner               0.180437
State servant           0.070473
Unemployed              0.000069
Student                 0.000049
Businessman             0.000041
Maternity leave         0.000012
Name: NAME_INCOME_TYPE, dtype: float64

Secondary / secondary special    0.710672
Higher education                 0.243212
Incomplete higher                0.033365
Lower secondary                  0.012211
Academic degree                  0.000541
Name: NAME_EDUCATION_TYPE, dtype: float64

Married                 0.638491
Single / not married    0.147942
Civil marriage          0.096737
Separated               0.064502
Widow                   0.052324
Unknown                 0.000004
Name: NAME_FAMILY_STATUS, dtype: float64

House / apartment      0.887199
With parents           0.048442
Municipal apartment    0.036267
Rented apartment       0.015808
Office apartment       0.008573
Co-op apartment        0.003711
Name: NAME_HOUSING_TYPE, dtype: float64

TUESDAY      0.174978
WEDNESDAY    0.168360
MONDAY       0.165478
THURSDAY     0.165100
FRIDAY       0.163417
SATURDAY     0.110090
SUNDAY       0.052576
Name: WEEKDAY_APPR_PROCESS_START, dtype: float64

Business Entity Type 3    0.221517
XNA                       0.180478
Self-employed             0.124882
Other                     0.054267
Medicine                  0.036511
Business Entity Type 2    0.034279
Government                0.033861
School                    0.028771
Trade: type 7             0.025438
Kindergarten              0.022146
Construction              0.021906
Business Entity Type 1    0.019751
Transport: type 4         0.017386
Trade: type 3             0.011248
Industry: type 9          0.010955
Industry: type 3          0.010679
Security                  0.010544
Housing                   0.009626
Industry: type 11         0.008691
Military                  0.008593
Bank                      0.008049
Agriculture               0.007967
Police                    0.007585
Transport: type 2         0.007093
Postal                    0.006988
Security Ministries       0.006362
Trade: type 2             0.006122
Restaurant                0.006008
Services                  0.005138
University                0.004297
Industry: type 7          0.004215
Transport: type 3         0.003768
Industry: type 1          0.003390
Hotel                     0.003162
Electricity               0.002992
Industry: type 4          0.002919
Trade: type 6             0.002049
Industry: type 5          0.002000
Insurance                 0.001906
Telecom                   0.001898
Emergency                 0.001801
Industry: type 2          0.001492
Advertising               0.001350
Realtor                   0.001333
Culture                   0.001244
Industry: type 12         0.001146
Trade: type 1             0.001106
Mobile                    0.001032
Legal Services            0.000955
Cleaning                  0.000846
Transport: type 1         0.000622
Industry: type 10         0.000354
Industry: type 6          0.000350
Religion                  0.000272
Trade: type 4             0.000215
Industry: type 13         0.000199
Trade: type 5             0.000167
Industry: type 8          0.000081
Name: ORGANIZATION_TYPE, dtype: float64

In [1]:
# Feature Creation

#### Highlights
- Target is imbalanced.
- Some hidden NaNs in the categorical data:
  - ```CODE_GENDER```: XNA.
  - ```NAME_TYPE_SUITE```: NaN.
  - ```NAME_FAMILY_STATUS```: Unknown.
  - ```ORGANIZATION_TYPE```: XNA.

### Decisions
How the dataFrame will be manipulated in the first iteration.

In [86]:
create_decision_dataset()
df_decision = create_dataframe('interim', 'application_decision.csv')

In [87]:
with pd.option_context('display.max_rows', len(df_decision)):
    display(df_decision)

,Column,NanDecision,TypeDecision,OutliersDecision,CorrDecision
0,SK_ID_CURR,,,,
1,TARGET,,sample,,
2,NAME_CONTRACT_TYPE,,OneHotEncoder,,
3,CODE_GENDER,,clean and then OneHotEncoder,,
4,FLAG_OWN_CAR,,OneHotEncoder,,
5,FLAG_OWN_REALTY,,OneHotEncoder,,
6,CNT_CHILDREN,,,,
7,AMT_INCOME_TOTAL,,,remove,
8,AMT_CREDIT,,,remove,
9,AMT_ANNUITY,,,,
10,AMT_GOODS_PRICE,mean,,,
11,NAME_TYPE_SUITE,most_frequent,clean and then OneHotEncoder,,
12,NAME_INCOME_TYPE,,OneHotEncoder,,
13,NAME_EDUCATION_TYPE,,OrdinalEncoder,,
14,NAME_FAMILY_STATUS,,clean and then OneHotEncoder,,
15,NAME_HOUSING_TYPE,,OneHotEncoder,,
16,REGION_POPULATION_RELATIVE,,,remove,
17,DAYS_BIRTH,,,,
18,DAYS_EMPLOYED,,,,
19,DAYS_REGISTRATION,,,remove,
20,DAYS_ID_PUBLISH,,,,
21,OWN_CAR_AGE,drop,,,
22,FLAG_MOBIL,,,,
23,FLAG_EMP_PHONE,,,,
24,FLAG_WORK_PHONE,,,,
25,FLAG_CONT_MOBILE,,,,
26,FLAG_PHONE,,,,
27,FLAG_EMAIL,,,,
28,OCCUPATION_TYPE,drop,,,
29,CNT_FAM_MEMBERS,,,,
30,REGION_RATING_CLIENT,,,,
31,REGION_RATING_CLIENT_W_CITY,,,,
32,WEEKDAY_APPR_PROCESS_START,,OrdinalEncoder,,
33,HOUR_APPR_PROCESS_START,,,,
34,REG_REGION_NOT_LIVE_REGION,,,,
35,REG_REGION_NOT_WORK_REGION,,,,
36,LIVE_REGION_NOT_WORK_REGION,,,,
37,REG_CITY_NOT_LIVE_CITY,,,,
38,REG_CITY_NOT_WORK_CITY,,,,
39,LIVE_CITY_NOT_WORK_CITY,,,,
40,ORGANIZATION_TYPE,,clean and then OneHotEncoder,,
41,EXT_SOURCE_1,drop,,,
42,EXT_SOURCE_2,mean,,,
43,EXT_SOURCE_3,mean,,,
44,APARTMENTS_AVG,drop,,,
45,BASEMENTAREA_AVG,drop,,,
46,YEARS_BEGINEXPLUATATION_AVG,drop,,,
47,YEARS_BUILD_AVG,drop,,,
48,COMMONAREA_AVG,drop,,,
49,ELEVATORS_AVG,drop,,,
50,ENTRANCES_AVG,drop,,,
51,FLOORSMAX_AVG,drop,,,
52,FLOORSMIN_AVG,drop,,,
53,LANDAREA_AVG,drop,,,
54,LIVINGAPARTMENTS_AVG,drop,,,
55,LIVINGAREA_AVG,drop,,,
56,NONLIVINGAPARTMENTS_AVG,drop,,,
57,NONLIVINGAREA_AVG,drop,,,
58,APARTMENTS_MODE,drop,,,
59,BASEMENTAREA_MODE,drop,,,
60,YEARS_BEGINEXPLUATATION_MODE,drop,,,
61,YEARS_BUILD_MODE,drop,,,
62,COMMONAREA_MODE,drop,,,
63,ELEVATORS_MODE,drop,,,
64,ENTRANCES_MODE,drop,,,
65,FLOORSMAX_MODE,drop,,,
66,FLOORSMIN_MODE,drop,,,
67,LANDAREA_MODE,drop,,,
68,LIVINGAPARTMENTS_MODE,drop,,,
69,LIVINGAREA_MODE,drop,,,
70,NONLIVINGAPARTMENTS_MODE,drop,,,
71,NONLIVINGAREA_MODE,drop,,,
72,APARTMENTS_MEDI,drop,,,
73,BASEMENTAREA_MEDI,drop,,,
74,YEARS_BEGINEXPLUATATION_MEDI,drop,,,
75,YEARS_BUILD_MEDI,drop,,,
76,COMMONAREA_MEDI,drop,,,
77,ELEVATORS_MEDI,drop,,,
78,ENTRANCES_MEDI,drop,,,
79,FLOORSMAX_MEDI,drop,,,
80,FLOORSMIN_MEDI,drop,,,
81,LANDAREA_MEDI,drop,,,
82,LIVINGAPARTMENTS_MEDI,drop,,,
83,LIVINGAREA_MEDI,drop,,,
84,NONLIVINGAPARTMENTS_MEDI,drop,,,
85,NONLIVINGAREA_MEDI,drop,,,
86,FONDKAPREMONT_MODE,drop,,,
87,HOUSETYPE_MODE,drop,,,
88,TOTALAREA_MODE,drop,,,
89,WALLSMATERIAL_MODE,drop,,,
90,EMERGENCYSTATE_MODE,drop,,,
91,OBS_30_CNT_SOCIAL_CIRCLE,mean,,,
92,DEF_30_CNT_SOCIAL_CIRCLE,mean,,,
93,OBS_60_CNT_SOCIAL_CIRCLE,mean,,,
94,DEF_60_CNT_SOCIAL_CIRCLE,mean,,,
95,DAYS_LAST_PHONE_CHANGE,,,,
96,FLAG_DOCUMENT_2,,,,group
97,FLAG_DOCUMENT_3,,,,group
98,FLAG_DOCUMENT_4,,,,group
99,FLAG_DOCUMENT_5,,,,group
100,FLAG_DOCUMENT_6,,,,group
101,FLAG_DOCUMENT_7,,,,group
102,FLAG_DOCUMENT_8,,,,group
103,FLAG_DOCUMENT_9,,,,group
104,FLAG_DOCUMENT_10,,,,group
105,FLAG_DOCUMENT_11,,,,group
106,FLAG_DOCUMENT_12,,,,group
107,FLAG_DOCUMENT_13,,,,group
108,FLAG_DOCUMENT_14,,,,group
109,FLAG_DOCUMENT_15,,,,group
110,FLAG_DOCUMENT_16,,,,group
111,FLAG_DOCUMENT_17,,,,group
112,FLAG_DOCUMENT_18,,,,group
113,FLAG_DOCUMENT_19,,,,group
114,FLAG_DOCUMENT_20,,,,group
115,FLAG_DOCUMENT_21,,,,group
116,AMT_REQ_CREDIT_BUREAU_HOUR,mean,,,
117,AMT_REQ_CREDIT_BUREAU_DAY,mean,,,
118,AMT_REQ_CREDIT_BUREAU_WEEK,mean,,,
119,AMT_REQ_CREDIT_BUREAU_MON,mean,,,
120,AMT_REQ_CREDIT_BUREAU_QRT,mean,,,
121,AMT_REQ_CREDIT_BUREAU_YEAR,mean,,,

*Next notebook: [4.0-ejk-](3.0-ejk-eda-applications.ipynb).*